<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dc.ad.admob"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7"  android:targetSdkVersion="7" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    

    <application
        android:allowBackup="true" android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/AppTheme" >
        <activity android:name=".activity.MainActivity" android:configChanges="orientation" android:label="@string/app_name" android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BannerJavaActivity"/>
        <activity android:name=".activity.BannerXmlActivity"/>
        <activity android:name=".activity.InterstitialActivity"/>
        
         <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>
